.search{
    width: 100rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.searchName input {
    padding: 10px;
    width: 15rem;
}

.searchSection input{
    padding: 10px;
    width:15rem;
}

.statusByName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}

.boxStatus h5{
    border: 1px solid black;
    padding: 4px;
    margin: 10px;
    width: 7rem;
    
}

.boxStatus{
    display: flex;
}