*{
    font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  }
  .class-body-t{
    margin-left: 100px;
    width: 90%;
    margin-top:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .class-headline-t{
      text-align: center;
      color: #2599bd;
      font-size: 50px;
      
  }
  .student-dropT{
    width:12rem;
    width: 18rem;
    background-color: #2599BD;
    border: 2px solid #2599BD;
    border-radius: 15px;
    color:white;
    margin-left: 20px;
  }
    .student-drop-chidT{
      width:14rem;
      font-size: 20px !important;
      }  
  
  .lololT {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .mappingdata-2T{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }

 
  .infopart-page2T{
    margin-left: 100px;
    padding: 30px;
    /* color: white; */
    background-color:#7dc9e1;
    font-size: 20px;
    font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    border-radius: 10px;
    width:80%;
    
  }
  
  .student-img2T{
  width: 200px;
  
  }
  .align-info2T{
    text-align: left;
    padding-left: 10px;
    
  }


  
  @media screen and (max-width: 768px) {
    .infopart-page2T{
    
      padding: 20px;
      /* color: white; */
      background-color:#7dc9e1;
      font-size: 20px;
      font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
      border-radius: 10px;
      width: 80%;
  }
  
  .student-img2T{
  width: 40%;
  
  }
  .mappingdata-2T{
    display: grid;
    gap: 30px ;
  grid-template-columns: 1fr ;
   width: 50%;
   margin-left: 25px;
   }
   .student-dropT{
    width: 10rem;
    width: 18rem;
    background-color: #2599BD;
    border: 2px solid #2599BD;
    border-radius: 15px;
    color:white;
    margin-left: 35px;
    
    }
    .student-drop-chidT{
      width:10rem;
      font-size: 20px !important;
      }  
      .class-body-t{
        margin-top: 0;
        margin-left: 0px;
      }
       .class-headline-t{
        font-size: 30px;
        padding-left: 30px;
      }
       
            
 }
 @media screen and (max-width: 1024px)  {
  .mappingdata-2T{
    display: grid;
     gap: 30px ;
   grid-template-columns: 1fr ;
    width: 50%;
    margin-left: 15px;
    margin-top: 5rem;
    }
    .infopart-page2T{
      margin-left: 50px;
      padding: 30px;
      /* color: white; */
      background-color:#7dc9e1;
      font-size: 20px;
      font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
      border-radius: 10px;
      width:70%;
      }
  }