 .App {
  text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body{
  margin: 0;
}

/* @media (max-width: 768px) {
  .app-body{
    display:flex;
    flex-direction:column;
  }
} */